@import "../../../constants.scss";
.info-container {
  position: relative;
  width: 100%;
  background-color: #ededf4;
}
.info__content {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  height: 662px;
  padding: 110px 0 0 115px;

  row-gap: 20px;
}
.info__title {
  font-size: 48px;
  line-height: 65.57px;
}
.info__image-container {
  position: absolute;
  top: 80px;
  right: 115px;
  width: 505px;
  .info__image {
    width: 100%;
    height: 100%;
  }
}
#info__input {
  width: 330px;
  height: 56px;
  font-size: 14px;
  background-color: white;
  border: none;
  border-radius: 0;
  outline: none;
}
.info__form {
  display: flex;
  align-items: flex-end;
}
#info__button {
  width: 120px;
  height: 56px;
  background-color: $BASE_COLOR_BLUE;
  border: none;
  border-radius: 0;
}
.info__search-container {
  height: 56px;
  margin-top: 20px;
}
